@inherits LayoutComponentBase

<NavBar />

<div class="content">
    @Body
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted"> © <span id="year">2020</span> BlogLab - All right reserved.</span>
    </div>
</footer>
